<uib-tabset active="active">
    <uib-tab index="0">
        <uib-tab-heading>
            <i class="glyphicon glyphicon-info-sign"></i> Informacje
        </uib-tab-heading>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-{{ auctionsItemCtrl.auction.type.color }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-arrows-alt fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Dane</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: white;">
                        <div ng-repeat="(category, features) in auctionsItemCtrl.item.categories">
                            <strong>{{ category }}</strong>:
                            <div ng-repeat="(feature, value) in features">
                            <strong>{{ feature }}:</strong> {{ value }}<br>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-{{ auctionsItemCtrl.auction.type.color }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-align-justify fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Opis</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: white;" >
                        <p ng-bind-html="auctionsItemCtrl.description" compile-template></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-{{ auctionsItemCtrl.auction.type.color }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-photo fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Zdjęcia</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="background: white;">
                        <ng-gallery images="auctionsItemCtrl.images"></ng-gallery>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" ng-hide="auctionsItemCtrl.auction.if_finished">
        <uib-tab-heading>
            <i class="fa fa-gavel  "></i> {{ auctionsItemCtrl.auction.type.action }}
        </uib-tab-heading>
        <br>
        <auction-action-buy auction="auctionsItemCtrl.auction"
                            ng-show="auctionsItemCtrl.auction.type.name == 'Kup teraz!'">
        </auction-action-buy>
    </uib-tab>
</uib-tabset>
