<div>
    <table class="table table-striped table-ellipsis table-hover" ng-hide="auctionsListCtrl.isLoading">
        <thead>
            <tr class="row">
                <th class="col-md-1">Typ aukcji</th>
                <th class="col-md-3">Przedmiot</th>
                <th class="col-md-2">Stan nowości</th>
                <th class="col-md-2">Cena</th>
                <th class="col-md-2">Data zakończenia</th>
                <th class="col-md-2">Sprzedający</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row clickable cursor-pointer" ng-repeat-start="auction in auctionsListCtrl.auctions"
                ng-click="auction.show_details=!auction.show_details">
                <td class="col-md-1">
                    <button class="btn btn-{{ auction.type.color }}">{{ auction.type.name }}</button>
                </td>
                <td class="col-md-3">{{ auction.item.name }}</td>
                <td class="col-md-2">{{ auction.item.state }}</td>
                <td class="col-md-2">{{ auction.price | currency }}</td>
                <td class="col-md-2" ng-hide="auction.if_finished">{{ auction.finish_date | date:'yyyy-MM-dd HH:mm' }}
                </td>
                <td class="col-md-2" ng-show="auction.if_finished">
                    <button class="btn btn-outline btn-{{ auction.type.color }}">FINISHED</button>
                </td>
                <td class="col-md-2">{{ auction.seller.username }}</td>
            </tr>
            <tr ng-repeat-end="" ng-if="auction.show_details">
                <td colspan="20" class="col-md-12 highlight">
                    <auctions-item auction="auction"></auctions-item>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-info" ng-show="auctionsListCtrl.isLoading">
        Loading data...</a>.
    </div>
    <!--<uib-pagination total-items="auctionsListCtrl.bigTotalItems" ng-model="auctionsListCtrl.bigCurrentPage"-->
                    <!--max-size="auctionListCtrl.maxSize" class="pagination-md" boundary-links="true"-->
                    <!--force-ellipses="true">-->
    <!--</uib-pagination>-->
    <!--<paginator ng-hide="data.isLoading || data.error" source="data"></paginator> -->
    <!--<loading></loading> <error-box></error-box> -->
</div>
